[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=2

[{*.jhm,*.xslt,*.xul,*.rng,*.xsl,*.xsd,*.ant,*.svg,*.tld,*.fxml,*.jrxml,*.xml,*.jnlp,*.wsdl}]
indent_style=space
indent_size=4

[{.babelrc,.stylelintrc,.eslintrc,jest.config,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=space
indent_size=2

[*.css]
indent_style=space
indent_size=4

[{*.applejs,*.js}]
indent_style=space
indent_size=4

[{*.ats,*.ts}]
indent_style=space
indent_size=4

[{*.mkd,*.markdown,*.md}]
indent_style=space
indent_size=4

